{% load static %}
{% load mathfilters %}

<!doctype html>

<html lang="en">

<head>
    <title>Sidebar 09</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Added by me -->
    <link rel="stylesheet" type="text/css" href="{% static '/bootstrap-5.1.3-dist/css/bootstrap.css' %}">

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">

    <!-- Styleshhet for icons -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="{% static 'sidebar-09/css/style.css' %}">

    {% block headContent %}

    {% endblock %}
</head>

<div class="wrapper d-flex align-items-stretch">
    <nav id="sidebar">
        <div class="custom-menu">
            <button type="button" id="sidebarCollapse" class="btn btn-primary">
            </button>
        </div>

        <div class="img bg-wrap text-center py-4">
            <div class="user-logo">
                <h3>My Cube Times</h3>
            </div>
        </div>

        <ul class="list-unstyled components mb-5">
            <li>
                <a href="{% url 'home' %}"><span class="fa fa-home mr-3"></span> Home</a>
            </li>
            <li>
                <a href="{% url 'addTimes' %}"><span class="fa fa-download mr-3"></span> Add Times </a>
            </li>
            <li>
                <a href="{% url 'stats' %}"><span class="fa fa-trophy mr-3"></span> Stats </a>
            </li>
            <li>
                <a href="#"><span class="fa fa-cog mr-3"></span> Settings</a>
            </li>
            <li>
                <a class="btn btn-danger" href="{% url 'deleteAll' confirm=0 %}"> DROP all database records </a>
            </li>
        </ul>

    </nav>


    <!-- Page Content  -->
    <div id="content" class="p-4 p-md-5 pt-5">
        {% block content %} {% endblock %}
    </div>
</div>

<script src="{% static 'sidebar-09/js/jquery.min.js' %}"></script>
<script src="{% static 'sidebar-09/js/popper.js' %}"></script>
<script src="{% static 'sidebar-09/js/bootstrap.min.js' %}"></script>
<script src="{% static 'sidebar-09/js/main.js' %}"></script>

</html>